.features
	padding: 0 15px 30px
	.overview
		display: flex
		align-items: center
		justify-content: space-between
	&-title
		font-size: 24px
		line-height: 34px
		font-weight: bold
		text-transform: uppercase
	&-table
		margin-top: 45px
		td
			color: $white
			font-size: 18px
			line-height: 32px
			font-weight: 400
			.mark
				color: $gray_light
	.table
		border-spacing: 0 10px
		&-column
			width: 300px

	&-content
		margin-top: 220px
	.content
		&-title
			font-size: 24px
			line-height: 34px
			font-weight: bold
			color: $white
		&-text
			margin-top: 45px
			max-width: 490px
			font-size: 16px
			line-height: 29px
			font-weight: 400
			color: $white

	&-image
		position: relative
		z-index: 999

@media screen and ( max-width: 980px )
	.features
		padding-top: 10px
		&-table
			margin-top: 40px
		.table
			border-spacing: 0 5px
		&-title
			font-size: 22px
			line-height: 30px
		&-content
			margin-top: 180px
		.content
			&-title
				font-size: 22px
				line-height: 30px
			&-text
				margin-top: 40px

@media screen and ( max-width: 680px )
	.features
		&-table
			margin-top: 35px
			td
				font-size: 16px
				line-height: 28px
		.table
			border-spacing: 0 5px
		&-title
			font-size: 20px
			line-height: 28px
		&-content
			margin-top: 100px
		.content
			&-title
				font-size: 20px
				line-height: 28px
			&-text
				margin-top: 35px
				max-width: 100%

@media screen and ( max-width: 380px )
	.features
		padding-top: 30px
		&-title
			font-size: 18px
			line-height: 25px
		&-table
			margin-top: 25px
			td
				font-size: 13px
				line-height: 25px
		.table
			border-spacing: 0 10px
			&-column
				width: 50%

		&-content
			margin-top: 60px
		.content
			&-title
				font-size: 18px
				line-height: 25px
			&-text
				margin-top: 25px
				font-size: 14px
				line-height: 28px

		&-image
			display: none
